/* Meyerweb CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
----------  Table of Contents ----------
    1. Header styles
        1.a) Logo styles
        1.b) Navbar styles

    2. Main styles
        2.a) Content styles
        2.b) Main-Article styles
        2.c) Side-Panel styles
        2.d) Footer-Article styles
    3. Gallery Styles
    4. Footer-Final styles
    5. General Styles






*/


    
/*----- Header styles -----*/

header {
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

/*Logo styles*/
.logo {
    width: 60%;
    min-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.main-logo {
    object-fit: cover;
    width: 32%;
    height: 60px;
}

/*Navbar styles*/
.nav {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    min-width: 1100px;
    font-family: inherit;
    font-size: 18px;
}

.nav::after {
    position: absolute;
    content: "";
    background: #bbb;
    height: 1px;
    width: 100%;
    top: 8.5rem;
    left: 0;
}

.navbar {
    display: flex;
    width: 80%;
    justify-content: space-between;
    
}

.more::after {
    content: "»";
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-left: 4px;
    transform: rotate(90deg);
    vertical-align: middle;
    margin-bottom: 4px;
}

.space::after {
    position: relative;
    display: block;
    content: "";
    background: black;
    height: 5px;
    width: 46px;
    top: 0.45rem;
}

svg {
    position: relative;
    top: 2px;
}

.sign-in {
    display: flex;
    width: 14%;
    justify-content: space-between;
}



/*----- Main styles -----*/
main {
    width: 60%;
    min-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/*Main-Article styles*/
article {
    width: 72%;

}

.article-title {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
}

.socials {
    display: flex;
    width: 320px;
    margin: 1rem 0;
}

.article-img {
    width: 100%;
    height: auto;
}

.read-more {
    background-color: #f5f5f5;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.more-on-this {
    display: flex;
    width: 40%;
    min-width: 310px;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.sponsored {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;

}

.sponsored-title {
    background-color: #37b3e5;
    padding: 0.5rem;
}

.sponsored-contents {
    background-color: #f5f5f5;
    padding: 1rem 0.6rem;
    display: flex;
}

.sponsored-img {
    width: 270px;
    height: 180px;
}

.sponsored-text {
    padding: 0 1rem;

}

/*Side panel styles*/
.side-panel {
    display: flex;
    flex-direction: column;
    width: 26.5%;
}

.side-navbar {
    display: flex;
    width: 100%;
    margin-bottom: 3px;
}

.side-selected {
    font-size: 14px !important;
    background-color: #00b3e5;
    padding: 0.6rem 0.75rem;
    color: white;
    margin-right: 3px;
}

.side-navItem {
    font-size: 14px !important;
    background-color: #f5f5f5;
    padding: 0.6rem 0.82rem;
    color: black;
    margin-right: 3px;
}

.side-box {
    background-color: #f5f5f5;
    display: flex;
    color: #4d4d4d;
    width: calc(100% - 1.5rem);
    padding: 1rem 0.75rem;
    margin-bottom: 3px;
    align-items: center;
    justify-content: space-between;
}

.side-box-left {
    width: 90%;
}

.side-box-right {
    width: 10%;
    text-align: right;
}

/*Footer-Article styles*/
.footer-article {
    display: flex;
    justify-content: space-between;
}

.footer-btns {
    width: 24%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.footer-btn {
    margin: 0.3rem 0;
    padding: 0.45rem 0 !important;
    text-align: center;
}



/*----- Gallery styles -----*/
.gallery-holder {
    display: flex;
    flex-direction: column;
    width: 60%;
    min-width: 1100px;
    margin: 0 auto;
}

.article-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    grid-gap: 15px;
    margin-bottom: 6rem;
}

.gallery-img {
    width: 258px !important;
    height: 172px !important;
    margin-bottom: 11px;
}

.gallery-floater {
    color: white;
    background-color: #484848;
    padding: 0.2rem 0.5rem;
    font-size: 14px !important;
    position: relative;
    top: 22px;
}



/*----- Footer-Final styles -----*/
.footer-final {
    background-color: #f5f5f5;
    padding: 2rem 0;
}

.footer-div {
    width: 60%;
    min-width: 1100px;
    margin: 0 auto;
}

.newsletter {
    border-bottom: 1px solid #bfbfbf;
}

form {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

input {
    background: none;
    border: none;
    border-radius: none;
    border-bottom: 2px solid black;
    width: 350px;
}

.footer-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.footer-navItem {
    font-size: 17px;
    padding: 0.2rem 0.8rem;
    border-right: 1px solid black;
}



/*----- General styles -----*/
.thick-font {
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.thin-font {
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.small-font {
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    font-size: 12px !important;
}

.article-font {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5rem;
    font-size: 19px;
    margin: 1.5rem 0;
}

.italics-font {
    font-style: italic;
}

.blue-font {
    color: #00b3e5;
}

.grey-font {
    color: #999;
}

.darker-grey-font {
    color: #4d4d4d;
}

.default-btn {
    border: none;
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 0.2rem 1.6rem;
    border-radius: .188rem;
    color: white;
}

.smaller-btn {
    border: none;
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 0.2rem 0.5rem;
    border-radius: .188rem;
    color: white;
}

.blue-btn {
    background: #00b3e5;
}

.navy-btn {
    background: #005587;
}

.green-btn {
    background: rgb(32, 178, 170);
}

.red-btn {
    background: #f00;
}

.social-btn {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-right: 16px;
    text-align: center;
}

.facebook {
    background: #3b5998;
}

.twitter {
    background: #1da1f2;
}

.whatsapp {
    background: #4dc247;
}

.linkedin {
    background: #0077b5;
}

.reddit {
    background: #ff5700;
}

.greySocial {
    background: #999;
}

.social-btn svg {
    height: 28px;
    width: 28px;
}